# --- OS ---
.DS_Store
Thumbs.db
Desktop.ini


# --- Editors ---
.vscode/
.spyproject/


# --- Data ---
/data/


# --- Secrets ---
.env


# --- Python ---
# Generated
__pycache__/
*.py[codz]
*.egg-info/

# Virtual environments
.venv/
.venv-container/

# Tool caches
.pytest_cache/
.ruff_cache/


# --- R ---
# Generated
.Rhistory
